<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/skeleton.css" />
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>New Budget Item</h1>
        
        <form action="/budgets" method="post">
            <input type="text" placeholder="Date" name="date"><br>
            <input type="text" placeholder="Name" name="name"><br>
            <input type="number" placeholder="Amount" name="amount"><br>
            <input type="text" placeholder="From" name="from"><br>
            <input type="submit" name="Create New Item">
            <button>
                <a href="/budgets/">Cancel</a>
            </button>
        </form>
    </div>
</body>
</html>